header{
    background-image: url(image/leaf.jpg);
}
    body  {
        background: linear-gradient(to bottom, pink 0%, white 100%);
        font-family: Cute Font,sans-serif;
        font-size: 19px;
    }
    p::first-letter{
        font-size:22px;
      }

  h3{
       color: cornflowerblue;
    }

   p{
    color: rgb(114, 57, 16);
}
   h1,h2{
       color: darkorange;
       text-align: center;  
   }
   p:hover{
       background-color: indianred;
   }
section{
    text-align: center;
}
   ul{
       column-count: 3;
       list-style-type: circle;
   }
   
    .benefits > p{
        text-align: right;
        color:rgb(54, 8, 100);
    }
    
    .explanation > p{
        text-align: left;
        color: rgb(54, 8, 100);
    }

    .summary > p{
        text-align: right;
        color: rgb(54, 8, 100);
    }

    ul > li :nth-child(1){
        color: rgb(202, 77, 18);
    }